<footer class="page-footer font-small black ">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">SHOP</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Women</a>
          </li>
          <li>
            <a href="#!">Men</a>
          </li>
          <li>
            <a href="#!">GiftCards</a>
          </li>
          
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Support</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Return Policy</a>
          </li>
          <li>
            <a href="#!">Shipping Policy</a>
          </li>
          <li>
            <a href="#!">FAQ</a>
          </li>
        
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">CUSTOMER SERVICE</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">+912025697890</a>
          </li>
          <li>
            <a href="#!">+912025695643</a>
          </li>
          <li>
            <a href="#!">+912025693567</a>
          </li>
          <li>
            <a href="#!">shop@sunshine.com</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <div class=" center-block">
              <a href="https://www.facebook.com/"><i id="social-fb" class="fa fab fa-facebook-f fa-3x social "></i></a>
              <a href="https://twitter.com/explore"><i id="social-tw" class="fab fa-twitter fa-3x social "></i></a>
              <a href="https://www.instagram.com/"><i id="social-gp" class="fa fab fa-instagram fa-3x social "></i></a>
              <a href="https://www.pinterest.com/"><i id="social-em" class="fa fab fa-pinterest fa-3x social "></i></a>
          </div>
          </li>
          
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
  
  

</footer>
<!-- Footer -->

