footer a:hover{
  color: #ffffff;
  text-decoration: none;    
}
/*.social:hover { 
   -webkit-transform: scale(1.0);
   -webkit-transition-duration: 0.5s;
} 
.social {
   -webkit-transform: scale(0.8);
   color: rgb(245, 225, 225);
   
}   */