<div class="container">
  <br /><br />

  <div class="row">
    <div class="col-md-6">
      <p class="h4 mb-4">Billing Address</p>
      <!-- Extended default form grid -->
      <form
        (ngSubmit)="handleCheckOut()"
        class="border border-light p-5"
        [formGroup]="uploadForm"
      >
        <div class="form-row">
          <!-- Default input -->
          <div class="form-group col-md-6">
            <label for="lname">Last Name</label>
            <input
              mdbInput
              name="lname"
              type="text"
              class="form-control"
              id="inputlname"
              placeholder="Last Name"
              (change)="populateValue($event)"
              required
            />
          </div>
          <!-- Default input -->
          <div class="form-group col-md-6">
            <label for="fname">First Name</label>
            <input
              mdbInput
              name="fname"
              type="text"
              class="form-control"
              id="inputfname"
              placeholder="First Name"
              (change)="populateValue($event)"
              required
            />
          </div>
        </div>
        <!-- Grid row -->

        <!-- Default input -->
        <div class="form-group">
          <label for="email">Email</label>
          <input
            mdbInput
            name="email"
            type="email"
            class="form-control"
            id="inputEmail"
            (change)="populateValue($event)"
            placeholder="Email"
            required
          />
        </div>
        <div class="form-group">
          <label for="phone">Phone </label>
          <input
            mdbInput
            name="phone"
            type="number"
            class="form-control"
            id="inputphone"
            placeholder="(XXX)-XXX-XXXX"
            (change)="populateValue($event)"
            required
          />
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input
            mdbInput
            name="address"
            type="text"
            class="form-control"
            id="inputAddress"
            placeholder="1234 Main St"
            (change)="populateValue($event)"
            required
          />
        </div>
        <!-- Default input -->

        <!-- Grid row -->
        <div class="form-row">
          <!-- Default input -->
          <div class="form-group col-md-6">
            <label for="city">City</label>
            <input
              mdbInput
              name="city"
              type="text"
              class="form-control"
              id="inputCity"
              placeholder="Leesburg"
              (change)="populateValue($event)"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <label for="state">State</label>
            <input
              mdbInput
              name="state"
              type="text"
              class="form-control"
              id="inputState"
              placeholder="Virginia"
              (change)="populateValue($event)"
              required
            />
          </div>
          <!-- Default input -->
          <div class="form-group col-md-6">
            <label for="zip">Zip</label>
            <input
              mdbInput
              name="zip"
              type="number"
              class="form-control"
              id="inputZip"
              placeholder="20145"
              (change)="populateValue($event)"
              required
            />
          </div>
        </div>
        <!-- Grid row   //   routerLink="/order-success" -->
        <button type="submit" mdbBtn color="black">
          Confirm Order
        </button>
      </form>
    </div>
  </div>
</div>
