<div class="container">
  <br /><br />

  <div class="row">
    <div class="col-md-6">
      <p class="h4 mb-4">Billing Address</p>
      <!-- Extended default form grid -->
      <form
        (ngSubmit)="handleCheckOut()"
        class="border border-light p-5"
        [formGroup]="uploadForm"
      >
        <div class="form-row">
          <!-- Default input -->
          <div class="form-group col-md-6">
            <label for="lname">Last Name</label>
            <input
              mdbInput
              name="lname"
              type="text"
              class="form-control"
              id="inputEmail4"
              placeholder="Last Name"
              (change)="populateValue($event)"
              required
            />
          </div>
          <!-- Default input -->
          <div class="form-group col-md-6">
            <label for="inputPassword4">First Name</label>
            <input
              mdbInput
              type="password"
              class="form-control"
              id="inputPassword4"
              placeholder="First Name"
              required
            />
          </div>
        </div>
        <!-- Grid row -->

        <!-- Default input -->
        <div class="form-group">
          <label for="email">Email</label>
          <input
            mdbInput
            name="email"
            type="email"
            class="form-control"
            id="inputEmail"
            (change)="populateValue($event)"
            placeholder="Email"
            required
          />
        </div>
        <div class="form-group">
          <label for="inputphone">Phone </label>
          <input
            mdbInput
            type="number"
            class="form-control"
            id="inputAddress2"
            placeholder="(XXX)-XXX-XXXX"
            required
          />
        </div>
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input
            mdbInput
            type="text"
            class="form-control"
            id="inputAddress"
            placeholder="1234 Main St"
            required
          />
        </div>
        <!-- Default input -->

        <!-- Grid row -->
        <div class="form-row">
          <!-- Default input -->
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input
              mdbInput
              type="text"
              class="form-control"
              id="inputCity"
              placeholder="Leesburg"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <label for="inputState">State</label>
            <input
              mdbInput
              type="text"
              class="form-control"
              id="inputState"
              placeholder="Virginia"
              required
            />
          </div>
          <!-- Default input -->
          <div class="form-group col-md-6">
            <label for="inputZip">Zip</label>
            <input
              mdbInput
              type="number"
              class="form-control"
              id="inputZip"
              placeholder="20145"
              required
            />
          </div>
        </div>
        <!-- Grid row   //   routerLink="/order-success" -->
        <button type="submit" mdbBtn color="black">
          Confirm Order
        </button>
      </form>
    </div>
  </div>
</div>
