<div class = "container"><br><br>
    
  <div class = "row">
      
      
    <div class = "col-md-6">
      <p class="h4 mb-4">Billing Address</p>
      <!-- Extended default form grid -->
      <form class="border border-light p-5">

        <div class="form-row">
          <!-- Default input -->
          <div class="form-group col-md-6">
            <label for="inputEmail4">Last Name</label>
            <input mdbInput type="text" class="form-control" id="inputEmail4" placeholder="Last Name" required>
            
          </div>
          <!-- Default input -->
          <div class="form-group col-md-6">
            <label for="inputPassword4">First Name</label>
            <input mdbInput type="password" class="form-control" id="inputPassword4" placeholder="First Name" required>
            
          </div>
        </div>
        <!-- Grid row -->
      
        <!-- Default input -->
        <div class="form-group">
            <label for="inputAddress">Email</label>
            <input mdbInput type="email" class="form-control" id="inputEmail" placeholder="Email" required>
            
          </div>
          <div class="form-group">
            <label for="inputphone">Phone </label>
          <input mdbInput type="number" class="form-control" id="inputAddress2" placeholder="(XXX)-XXX-XXXX" required>
          
        </div>
        <div class="form-group">
            <label for="inputAddress">Address</label>
          <input mdbInput type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"required>
          
        </div>
        <!-- Default input -->
        
        <!-- Grid row -->
        <div class="form-row">
          <!-- Default input -->
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input mdbInput type="text" class="form-control" id="inputCity" placeholder="Leesburg" required>
            
          </div>
          <div class="form-group col-md-6">
            <label for="inputState">State</label>
            <input mdbInput type="text" class="form-control" id="inputState" placeholder="Virginia" required>
            
          </div>
          <!-- Default input -->
          <div class="form-group col-md-6">
            <label for="inputZip">Zip</label>
            <input mdbInput type="number" class="form-control" id="inputZip" placeholder="20145" required>
            
          </div>
        </div>
        <!-- Grid row -->
        <button type="submit" mdbBtn color="black" routerLink="/order-success">Confirm Order</button>


      </form>
    </div>

  </div>

</div>

