button{
  margin-top: 20px;
  

  height: 50px;
  width: 200px;
  color: white;
  background-color: black;
 /* border: 10px; */
 border-radius: 5px
  
}
button:hover{
  color: rgb(39, 36, 36);
  background-color: white;
}

.ng-invalid.ng-touched {
  border: 1px solid red;
}