<!-- Default form login -->
<div class = "container">
  <br><br>
    <p class="h4 mb-4">Sign In</p>
    <div class = "row">
        
    <div class = "col-md-6">
        
<form class="text-center border border-light p-5">
   

    <p class="h4 mb-4">Sign In</p>
  
    <!-- Email -->
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
  
    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
  
    <div class="d-flex justify-content-around">
      <div>
        <!-- Remember me -->
        <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
      </div>
      <div>
        <!-- Forgot password -->
        <a href="">Forgot password?</a>
      </div>
    </div>
  
    <!-- Sign in button -->
    <button class="my-4" type="submit">Sign in</button>
  
    <!-- Register -->
    <p>Not a member?
      <a href="">Register</a>
    </p>
  
    
  
  </form>
</div>
<div class = "col-md-6">
    <!-- Default form register -->
<form class="text-center border border-light p-5" action="#!">

  <p class="h4 mb-4">User Registration</p>

  <div class="form-row mb-4">
      <div class="col">
          <!-- First name -->
          <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
      </div>
      <div class="col">
          <!-- Last name -->
          <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
      </div>
  </div>

  <!-- E-mail -->
  <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">

  <!-- Password -->
  <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
  <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
      At least 8 characters and 1 digit
  </small>

  <!-- Phone number -->
  <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock">
  

 <br><br>
 

  <!-- Sign up button -->
  <button class="btn" type="submit">Sign Up</button>

  
 
 

  

</form>
<!-- Default form register -->
    </div>
</div>
<br><br>
</div>
  <!-- Default form login -->
