<!--Section: Products v.3-->
<section class="text-center pb-3 ">
  <!-- <app-navbar></app-navbar>  -->
 
  <!--Section heading-->
  <h2 class="h1 py-5">Beautiful Sarees</h2>
  <!--Section description-->
  <p class=" mb-5"><b> Silk sarees in calming, muted pastel shades - pleasant and soothing. Colours and hues that are fresh and subdued, delicate and cool! Light-toned, pale drapes in classic pure Kanchipuram silk….</b></p>

  <div class="row">

    <div class="col-lg-3 col-md-6 mb-4" *ngFor="let product of productwomen">
      <app-product-women-item [productitem]="product"></app-product-women-item>
    </div>
    
  </div>


  <!-- testing 
  <div class="row">

    <div class="col-lg-3 col-md-6 mb-4" *ngFor="let product of productwomen">
      <app-product-women-item [productitem]="product"></app-product-women-item>
    </div>
    

  </div>  -->




  

 

<!-- <app-footer></app-footer>  -->
</section>
<!--Section: Products v.3-->
