<!--Section: Products v.3-->
<section class="text-center pb-3 ">
  <!-- <app-navbar></app-navbar>  -->
 
  <!--Section heading-->
  <h2 class="h1 py-5">Beautiful Sarees</h2>
  <!--Section description-->
  <p class=" mb-5"><b> Silk sarees in calming, muted pastel shades - pleasant and soothing. Colours and hues that are fresh and subdued, delicate and cool! Light-toned, pale drapes in classic pure Kanchipuram silk….</b></p>

  <div class="row">

    <div class="col-lg-3 col-md-6 mb-4" *ngFor="let product of productwomen">
      <app-product-women-item [productitem]="product"></app-product-women-item>
    </div>
    <div class="col-lg-3 col-md-6 mb-4" >
      <app-shopping-cart></app-shopping-cart>  
    </div>
    

  </div>


  <!-- testing 
  <div class="row">

    <div class="col-lg-3 col-md-6 mb-4" *ngFor="let product of productwomen">
      <app-product-women-item [productitem]="product"></app-product-women-item>
    </div>
    

  </div>  -->




  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">
      
      <!--Card-->
      <mdb-card class="align-items-center">

        <!--Card image-->
        <div class="view overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="../../assets/images/product-img1.PNG" alt=""></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card image-->

        <!--Card content-->
        <mdb-card-body class="text-center">
          <!--Category & Title-->
          
          <h5>
            <strong>
              <a  class="dark-grey-text">Kanchipuram Silk Jaal Sea Green Saree
              </a>
            </strong>
          </h5>

          <h4 class="font-weight-bold dark-grey-text">
            $120
          </h4>
          <p><button>Add to Cart</button></p>

        </mdb-card-body>
        <!--Card content-->

      </mdb-card>
      <!--Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Card-->
      <mdb-card class="align-items-center">

        <!--Card image-->
        <div class="view overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="../../assets/images/product-img2.PNG" alt=""></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card image-->

        <!--Card content-->
        <mdb-card-body class="text-center">
          <!--Category & Title-->
          
          <h5>
            <strong>
              <a href="" class="dark-grey-text">Kanchipurm Silk Butta Green Saree</a>
            </strong>
          </h5>

          <h4 class="font-weight-bold dark-grey-text">
            $139
          </h4>
          <p><button>Add to Cart</button></p>

        </mdb-card-body>
        <!--Card content-->

      </mdb-card>
      <!--Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Card-->
      <mdb-card class="align-items-center">

        <!--Card image-->
        <div class="view overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="../../assets/images/product-img3.PNG" class="img-fluid"
            alt=""></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card image-->

        <!--Card content-->
        <mdb-card-body class="text-center">
          <!--Category & Title-->
          
          <h5>
            <strong>
              <a href="" class="dark-grey-text">Kanchipuram Silk Jaal And Tissue Pastel Green Saree
              </a>
            </strong>
          </h5>

          <h4 class="font-weight-bold dark-grey-text">
            $99
          </h4>
          <p><button>Add to Cart</button></p>

        </mdb-card-body>
        <!--Card content-->

      </mdb-card>
      <!--Card-->

    </div>
    <!--Grid column-->

    <!--Fourth column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Card-->
      <mdb-card class="align-items-center">

        <!--Card image-->
        <div class="view overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="../../assets/images/product-img4.PNG" alt=""></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card image-->

        <!--Card content-->
        <mdb-card-body class="text-center">
          <!--Category & Title-->
          
          <h5>
            <strong>
              <a href="#" class="dark-grey-text">Kanchipuram Silk Checks And Butta Yellow Saree</a>
              
            </strong>
          </h5>

          <h4 class="font-weight-bold dark-grey-text">
            $219
          </h4>
          <p><button>Add to Cart</button></p>

        </mdb-card-body>
        <!--Card content-->

      </mdb-card>
      <!--Card-->

  

    </div>
    <!--Fourth column-->

  </div>
  <!--Grid row-->

<!-- <app-footer></app-footer>  -->
</section>
<!--Section: Products v.3-->
