<mdb-carousel [animation]="'slide'">
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../assets/images/carousel_image1.jpg" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../assets/images/carousel_image2.jpg">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../assets/images/carousel_image3.jpg" alt="Third slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../assets/images/carousel_image4.jpg" alt="Third slide">
  </mdb-carousel-item>

</mdb-carousel>



